<!DOCTYPE html>
{% load staticfiles %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haruyasu Kaitori</title>

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'post_list' %}">My Portfolio</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>

            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'post_new' %}">New Posts</a></li>
                    <li><a href="{% url 'post_draft_list' %}">Drafts</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a>Welcome: {{user.username}}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="portfolio_posts">
            {% block content %}
            {% endblock %}
        </div>

    </div>
</body>
</html>
