{% extends "portfolio/base.html" %}
{% load staticfiles %}
{% block content %}

{% comment %}
{% for post in post_list %}
<div class="post">
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <div class="date">
        <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
    </div>
    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
</div>
{% endfor %}
{% endcomment %}
<section class="main-content">
    <div class="isotope-filter" id="isotope-filter">
        <div class="element element-profile home">
            <div class="element-wrapper">
                <div class="profile" id="profile">
                    <div class="profile-mask">
                        <div class="profile-mask-content" id="profile-mask-content">
                            <h1 class="profile-title">Haruyasu Kaitori</h1>
                            <p class="profile-title2">Freelance Full Stack Web Developer</p>
                        </div>
                    </div>
                    <div class="profile-picture" id="profile-picture">
                        <img src="{% static 'img/main.png' %}" class="responsive-image" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="element element-content element-portfolio-filter portfolio design vfx web app All">
            <div class="element-wrapper">
                <ul class="portfolio-filter-header">
                    <li><a href="#All" class="isotope-link">All</a></li>
                    <li><a href="#web" class="isotope-link">Web</a></li>
                    <li><a href="#app" class="isotope-link">App</a></li>
                    <li><a href="#vfx" class="isotope-link">VFX</a></li>
                    <li><a href="#design" class="isotope-link">Design</a></li>
                </ul>
            </div>
        </div>

    {% for post in post_list %}
        <div class="element element-portfolio-item home portfolio All web}">
            <div class="element-wrapper">
                <div class="portfolio-item">
                    <a
                        href="{% url 'post_detail' pk=post.pk %}"
                        class="portfolio-thumbnail"
                        style="background-image: url({% static 'img/haruvfx.png' %});"
                    >
                        <div class="portfolio-description-wrapper">
                            <div class="portfolio-description">
                                <h2 class="portfolio-title">
                                    {{ post.title }}
                                    <span class="portfolio-item-ico"><i class="fa fa-long-arrow-right"></i></span>
                                </h2>
                                <span class="see-more">{{ post.category }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

        <div class="element element-big-content-contact element-contact-form contact">
            <div class="element-wrapper">
                <h2 class="contact__title">Contact me</h2>
                <form id="contactForm">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control required"
                            id="name"
                            name="name"
                            placeholder="Name*"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <input
                            type="email"
                            class="form-control required"
                            id="email"
                            name="email"
                            placeholder="Email*"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control required"
                            id="subject"
                            name="subject"
                            placeholder="Subject*"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <textarea
                            class="form-control required"
                            name="message"
                            id="message"
                            placeholder="Message*"
                            required
                        ></textarea>
                    </div>
                    <div class="form-group form-send">
                        <button class="btn-submit">
                            <span>Submit</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="element element-big-content-about about">
            <div class="about__wrapper">
                <div class="about__box">
                    <h2 class="about__title">Profile</h2>
                    <div class="profile__wrap">
                        <p>
                            東京在住のFreelance Full-Stack Web Developerの飼鳥 晴康です。<br />
                            大学では数学とプログラミングを専攻。 大手SIerで8年間Software
                            Engineerとして車載開発に携わり、複数のプログラミング言語を自在に操る。
                            英語は得意ではなかったが、国際カンファレンスに出席することがきっかけで英語を学び、英語の楽しさに目覚める。
                            30歳の新たな挑戦として海外に行くことを決意。
                            映画好きだったこともあり、カナダのバンクーバーでVFXを学び、モントリオールでハリウッド映画の製作に携わる。
                            そして、東京を拠点にして、独立。 スポーツ大好きで日々のトレーニングはかかせない。
                        </p>

                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/haruyasu11" target="_blank"
                                    ><span data-hover="Facebook">Facebook</span></a
                                >
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/haruyasu-kaitori-1b5436105/" target="_blank"
                                    ><span data-hover="LinkedIn">LinkedIn</span></a
                                >
                            </li>
                            <li>
                                <a href="https://github.com/haruyasu" target="_blank"
                                    ><span data-hover="GitHub">GitHub</span></a
                                >
                            </li>
                            <li>
                                <a href="https://twitter.com/hathle" target="_blank"
                                    ><span data-hover="Twitter">Twitter</span></a
                                >
                            </li>
                            <li>
                                <a href="https://www.instagram.com/hathle/" target="_blank"
                                    ><span data-hover="Instagram">Instagram</span></a
                                >
                            </li>
                            <li>
                                <a href="https://harulog.org/" target="_blank"
                                    ><span data-hover="Web Media">Web Media</span></a
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="about__box">
                    <h2 class="about__title">Experience</h2>
                    <div class="about__wrap sep__wrap">
                        <div class="desc">
                            <p class="desc__title">Full Stack Web Developer<span> - Freelance</span></p>
                            <p>Webシステム、WebGL開発</p>
                            <p class="location">Tokyo - Japan</p>
                        </div>
                        <div class="year">
                            <p>2019 - Present</p>
                        </div>
                    </div>
                    <div class="about__wrap sep__wrap">
                        <div class="desc">
                            <p class="desc__title">Pipeline Technical Director<span> - Reel FX Animation</span></p>
                            <p>3Dツール開発、パイプライン構築</p>
                            <p class="location">Montreal - Canada</p>
                        </div>
                        <div class="year">
                            <p>2018 - 2019</p>
                        </div>
                    </div>
                    <div class="about__wrap sep__wrap">
                        <div class="desc">
                            <p class="desc__title">Background Actor<span> - EP Canada Film Services Inc.</span></p>
                            <p>映画エキストラ出演 - Death Note (2017 film)</p>
                            <p class="location">Vancouver - Canada</p>
                        </div>
                        <div class="year">
                            <p>2016 - 2016</p>
                        </div>
                    </div>
                    <div class="about__wrap sep__wrap">
                        <div class="desc">
                            <p class="desc__title">Web Developer<span> - Freelance</span></p>
                            <p>Web制作、アプリケーション開発</p>
                            <p class="location">Nagoya - Japan</p>
                        </div>
                        <div class="year">
                            <p>2014 - 2019</p>
                        </div>
                    </div>
                    <div class="about__wrap sep__wrap">
                        <div class="desc">
                            <p class="desc__title">Software Engineer<span> - Fujisoft Incorporated</span></p>
                            <p>組み込み車載プラットフォーム開発</p>
                            <p class="location">Nagoya - Japan</p>
                        </div>
                        <div class="year">
                            <p>2008 - 2016</p>
                        </div>
                    </div>
                </div>

                <div class="about__box">
                    <h2 class="about__title">Education</h2>
                    <div class="about__wrap sep__wrap">
                        <div class="desc">
                            <p class="desc__title">
                                FX TD Houdini Program<span> - Lost Boys School of Visual Effects</span>
                            </p>
                            <p class="location">Vancouver - Canada</p>
                        </div>
                        <div class="year">
                            <p>2017 - 2018</p>
                        </div>
                    </div>
                    <div class="about__wrap sep__wrap">
                        <div class="desc">
                            <p class="desc__title">
                                Global English Advanced Course<span> - VGC INTERNATIONAL COLLEGE</span>
                            </p>
                            <p class="location">Vancouver - Canada</p>
                        </div>
                        <div class="year">
                            <p>2016 - 2016</p>
                        </div>
                    </div>
                    <div class="about__wrap sep__wrap">
                        <div class="desc">
                            <p class="desc__title">
                                Bachelor of Science in Mathematics<span> - Meijo University</span>
                            </p>
                            <p class="location">Nagoya - Japan</p>
                        </div>
                        <div class="year">
                            <p>2004 - 2008</p>
                        </div>
                    </div>
                </div>

                <div class="about__box">
                    <h2 class="about__title">Software Skills</h2>
                    <div class="progress__box">
                        <div class="progress__wrap">
                            <p class="progress__title">Adobe XD</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Photoshop</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Illustrator</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Premiere Pro</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">After Effects</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Lightroom</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Houdini</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="100"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:100%"
                                >
                                    <span>Expert</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Maya</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Nuke</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Blender</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Unreal Engine</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="50"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:50%"
                                >
                                    <span>Intermediate</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Unity</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="50"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:50%"
                                >
                                    <span>Intermediate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="about__box">
                    <h2 class="about__title">Technical Skills</h2>
                    <div class="progress__box">
                        <div class="progress__wrap">
                            <p class="progress__title">HTML</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="100"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:100%"
                                >
                                    <span>Expert</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">CSS</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="100"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:100%"
                                >
                                    <span>Expert</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">JavaScript</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">PHP</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Python</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="100"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:100%"
                                >
                                    <span>Expert</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">Ruby</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">MySQL</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">C</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="100"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:100%"
                                >
                                    <span>Expert</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">C++</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:75%"
                                >
                                    <span>Advanced</span>
                                </div>
                            </div>
                        </div>
                        <div class="progress__wrap">
                            <p class="progress__title">C#</p>
                            <div class="progress">
                                <div
                                    class="progress-bar color-1"
                                    role="progressbar"
                                    aria-valuenow="50"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width:50%"
                                >
                                    <span>Intermediate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}