body {
    overflow-y: scroll;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination__prev a,
.pagination__next a {
    margin: 10px 0;
    color: #111111;
}

.pagination__prev a:hover,
.pagination__next a:hover {
    color: #EE6C4D;
}

.postchange {
    display: flex;
    justify-content: space-evenly;
}

.postchange__publish a,
.postchange__edit a,
.postchange__remove a {
    margin: 10px;
    color: #111111;
}

.postchange__publish a:hover,
.postchange__edit a:hover,
.postchange__remove a:hover {
    color: #EE6C4D;
}
